<div id="zoo_data">
  <h5>Subject metadata according to Zooniverse volunteers:</h5>
  <table style="width: 100%">
    <tbody>
      <tr>
        <th>Dominant Species</th>
        <td><%= @subject.zooniverse_dominant_species %></td>
      </tr>
      <tr>
        <th>season</th>
        <td><%= @subject.consensus.season %></td>
      </tr>
      <tr>
        <th>site_id</th>
        <td><%= @subject.consensus.site_id %></td>
      </tr>
      <tr>
        <th>frames</th>
        <td><%= @subject.consensus.frames %></td>
      </tr>
      <tr>
        <th>time_of_day</th>
        <td><%= @subject.consensus.time_of_day %></td>
      </tr>
      <tr>
        <th>classifications</th>
        <td><%= @subject.consensus.classifications %></td>
      </tr>
      <tr>
        <th>crowd_says</th>
        <td><%= @subject.consensus.crowd_says %></td>
      </tr>
      <tr>
        <th>total_species</th>
        <td><%= @subject.consensus.total_species %></td>
      </tr>
      <tr>
        <th>total_animals</th>
        <td><%= @subject.consensus.total_animals %></td>
      </tr>
      <tr>
        <th>crowd_says_if_multi</th>
        <td><%= @subject.consensus.crowd_says_if_multi %></td>
      </tr>
      <tr>
        <th>retire_reason</th>
        <td><%= @subject.consensus.retire_reason %></td>
      </tr>
      <tr>
        <th>counters_keys</th>
        <td><%= @subject.consensus.counters_keys %></td>
      </tr>
      <tr>
        <th>counters_values</th>
        <td><%= @subject.consensus.counters_values %></td>
      </tr>
      <tr>
        <th>species_counts_keys</th>
        <td><%= @subject.consensus.species_counts_keys %></td>
      </tr>
      <tr>
        <th>species_counts_values</th>
        <td><%= @subject.consensus.species_counts_values %></td>
      </tr>
      <tr>
        <th>behavior_counters_keys</th>
        <td><%= @subject.consensus.behavior_counters_keys %></td>
      </tr>
      <tr>
        <th>behavior_counters_values</th>
        <td><%= @subject.consensus.behavior_counters_values %></td>
      </tr>
      <tr>
        <th>aggregate_species_names</th>
        <td><%= @subject.consensus.aggregate_species_names %></td>
      </tr>
      <tr>
        <th>aggregate_species_counts</th>
        <td><%= @subject.consensus.aggregate_species_counts %></td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  function relayoutPage() {
      // set top of crowd data bit according to height of image
      h = $("div#subject img").height()+65;
      $("div#crowd_data").css('top', h);

      // set width of opinions row according to widths of classifications
      var n = $('div#crowd-classifications div.classification').length;
      var spacing_width = n * 10;
      var box_widths = 0;
      $('div#crowd-classifications div.classification').each(function() {
        box_widths += $(this).outerWidth( true );
      });

      $("div#crowd-classifications").css('width',box_widths+(spacing_width/2));

      var maxHeight = -1;
      // set height of opinions row according to max height classification plus a bit.
      $('div#crowd-classifications div.classification').each(function() {
        console.log($(this).height());
        if ($(this).height() > maxHeight) {
          maxHeight = $(this).height();
        }
      });

      console.log(maxHeight);
      h = maxHeight + 500;
      console.log(h);
      $('div#crowd-classifications').css('height',h);
  }

  $(function () {

    $("#subject img").on("load",relayoutPage);
    $(".tab-title a").on("click",relayoutPage);

  });
</script>