<div class="row">
  <div class="small-12 columns">
    <%= paginate @subjects %>

    <ul id="subjects-list-thumbs" class="small-block-grid-4">
    <% @subjects.each do |subject| %>
      <li>
        <%= link_to(image_tag(subject.thumb_url), subject) %>

        <div class="image-counter-overlay">
          <span class="label" title="Number of regions found by the platform">
            <i class="fa fa-eye"></i>
            <%= subject.regions.size %>
          </span>

          <span class="label" title="Number of comments on Zooniverse Talk">
            <i class="fa fa-comment"></i>
            <%= subject.comments_count %>
          </span>
        </div>
        Species: <%= subject.zooniverse_dominant_species %><br>
        Status: <%= subject.mico_status %><br>
      </li>
    <% end %>
    </ul>
  </div>
</div>
