<div class="row">
  <div class="small-12 columns">
    <h1>Subjects#index</h1>
    <table style="width: 100%" id="subjects-table">
      <thead>
        <th>ID</th>
        <th>Zooniverse ID</th>
        <th>Zooniverse Dominant Species</th>
        <th>Status</th>
        <th>Regions</th>
        <th>Comments</th>
      </thead>

      <tbody>
        <% @subjects.each do |subject| %>
          <tr id="subject-<%= subject.id %>" class="subject-status-<%= subject.status.dasherize %>">
            <td><%= subject.id %></td>
            <td><%= link_to subject.zooniverse_id, subject %></td>
            <td><%= subject.zooniverse_dominant_species %></td>
            <td><%= subject.mico_status %></td>
            <td><%= subject.regions.size %></td>
            <td><%= subject.comments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
