<div id="resub-box" class="row">
     <div class="small-4 header-right"><p>
      MICO Image Analysis: <strong><%= @subject.status.titleize %></strong><br/>
      <% if @subject.status=="unprocessed" %>
        <%= link_to "Submit this image to MICO platform", mico_submit_subject_path(@subject), method: :post, class: "button tiny" %>
      <% else %>
        <%= link_to "Resubmit this image to MICO platform", mico_submit_subject_path(@subject), method: :post, class: "button tiny" %>
      <% end %>
    </p>
    <p class="small-sub">Please <%= link_to "ensure", 'http://demo1.mico-project.eu:8080/mico-configuration/', :target => "_blank" %> an <span style="font-family: 'Courier New', courier, monospace;">animal-detection</span> extractor is active.</p></div>
    <div class="small-7 columns">
    <h3>Subject <a title="View this subject on Snapshot Serengeti Talk" target="_blank" href="http://talk.snapshotserengeti.org/#/subjects/<%= @subject.zooniverse_id %>"><%= @subject.zooniverse_id %></a><br/>Frame <%= @subject.image_index %></h3>
    </div>
</div></div>

<hr>

<div class="row">
  <div class="small-8 columns left-side">
    <div id="subject">
      <%= image_tag @subject.image_url %>
      <% @subject.regions.each do |region| %>
        <%= content_tag :div, content_tag(:div,"#{region.id}"), id: "region-overlay-#{region.id}", :data => { :region => region.id }, class: ["region"], style: "top: #{region.y}px; left: #{region.x}px; width: #{region.width}px; height: #{region.height}px" %>
      <% end %>
    </div>
    <div id="crowd_data">
      <h3>What the crowd thinks:</h3>
      <div class="classifications">
          <div id="crowd-thinks-summary" class="summary">
          </div>
          <div id ="crowd-thinks-status" class="active">
              <span id="active-value"></span>
              <span id="active-more-needed" class="active-more-needed"></span>
          </div>
          <div id="crowd-classifications">
          </div>
      </div>
    </div>
    <div id="zoo_data">
      <h4>Zooniverse user-data based aggregation results</h4>
      <table style="width: 100%">
        <tbody>
          <tr>
            <th>Dominant Species</th>
            <td><%= @subject.zooniverse_dominant_species %></td>
          </tr>
          <tr>
            <th>season</th>
            <td><%= @subject.consensus.season %></td>
          </tr>
          <tr>
            <th>site_id</th>
            <td><%= @subject.consensus.site_id %></td>
          </tr>
          <tr>
            <th>frames</th>
            <td><%= @subject.consensus.frames %></td>
          </tr>
          <tr>
            <th>time_of_day</th>
            <td><%= @subject.consensus.time_of_day %></td>
          </tr>
          <tr>
            <th>classifications</th>
            <td><%= @subject.consensus.classifications %></td>
          </tr>
          <tr>
            <th>crowd_says</th>
            <td><%= @subject.consensus.crowd_says %></td>
          </tr>
          <tr>
            <th>total_species</th>
            <td><%= @subject.consensus.total_species %></td>
          </tr>
          <tr>
            <th>total_animals</th>
            <td><%= @subject.consensus.total_animals %></td>
          </tr>
          <tr>
            <th>crowd_says_if_multi</th>
            <td><%= @subject.consensus.crowd_says_if_multi %></td>
          </tr>
          <tr>
            <th>retire_reason</th>
            <td><%= @subject.consensus.retire_reason %></td>
          </tr>
          <tr>
            <th>counters_keys</th>
            <td><%= @subject.consensus.counters_keys %></td>
          </tr>
          <tr>
            <th>counters_values</th>
            <td><%= @subject.consensus.counters_values %></td>
          </tr>
          <tr>
            <th>species_counts_keys</th>
            <td><%= @subject.consensus.species_counts_keys %></td>
          </tr>
          <tr>
            <th>species_counts_values</th>
            <td><%= @subject.consensus.species_counts_values %></td>
          </tr>
          <tr>
            <th>behavior_counters_keys</th>
            <td><%= @subject.consensus.behavior_counters_keys %></td>
          </tr>
          <tr>
            <th>behavior_counters_values</th>
            <td><%= @subject.consensus.behavior_counters_values %></td>
          </tr>
          <tr>
            <th>aggregate_species_names</th>
            <td><%= @subject.consensus.aggregate_species_names %></td>
          </tr>
          <tr>
            <th>aggregate_species_counts</th>
            <td><%= @subject.consensus.aggregate_species_counts %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="metadata" class="small-4 columns">
    <table id="regions-data" style="width: 100%">
      <thead>
        <th>Region</th>
        <!-- <th>Location</th> -->
        <th>Species</th>
        <th>Confidence</th>
      </thead>

      <tbody>
        <% @subject.regions.each do |region| %>
          <tr class="hover-row" data-region="<%= region.id %>">
            <td><%= region.id %></td>
            <!-- <td><%= region.x %>,<%= region.y %> / <%= region.width %>x<%= region.height %>px</td> -->
            <td><%= region.animal %></td>
            <td><%= region.confidence.round(4) %></td>
          </tr>
        <% end %>

        <% if @subject.regions.empty? %>
          <tr><td colspan="5">(no regions)</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-12 columns">
    <h4>Comments</h4>
    <table style="width: 100%">
      <tbody>
        <% @subject.comments.each do |comment| %>
          <tr>
            <td><%= comment.body %></td>
            <td><%= debug comment.mico_data %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row debug-output">
  <div class="small-12 columns">
    <h4>Debug info</h4>
    <%= debug @subject %>
  </div>
</div>

<script type="text/javascript">

$(function () {

  window.subject = <%= @subject.to_json.html_safe %>;
  window.comments = <%= @subject.comments.to_json.html_safe %>;
  window.consensus = <%= @subject.consensus.to_json.html_safe %>;

  var timeouts = [];
  $(".hover-row").on({
    mouseenter: function (e) {
        for (var i=0; i<timeouts.length; i++) {
          clearTimeout(timeouts[i]);
        }
        $("div.region").hide();
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.show();
        $region.addClass("highlighted-region");
        $(this).addClass("hover");
    },
    mouseleave: function (e) {
        $(this).removeClass("hover");
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.removeClass("highlighted-region");
        timeouts.push(window.setTimeout(function(){
          $("div.region").show();
        },500));
    }
  });

  $(".region").on({
    mouseenter: function (e) {
        for (var i=0; i<timeouts.length; i++) {
          clearTimeout(timeouts[i]);
        }
        $("div.region").hide();
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.show();
        $region.addClass("highlighted-region");
        $(".hover-row[data-region="+region_no+"]").addClass("hover");

    },
    mouseleave: function (e) {
        $(".hover-row").removeClass("hover");
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.removeClass("highlighted-region");
        timeouts.push(window.setTimeout(function(){
          $("div.region").show();
        },500));
    }
  });

  var $window = $(window);
  var $stickyEl = $('#subject');
  var $table = $('#regions-data')
  var elTop = $stickyEl.offset().top;
  var tableEnd = $table.offset().top+$table.height();
  var $pushDownEl = $('#zoo_data');
  var topMargin = 160;
  var lesserTopMargin = 30;

  crowdData = FilterManager.buildCrowdData(subject, consensus);
  console.log(crowdData);
  $("#crowd-thinks-summary").addClass(crowdData.state);
  $("#crowd-thinks-summary").html(crowdData.message);
  $("#crowd-thinks-status").addClass(crowdData.state);
  if (crowdData.active) {
    $("#crowd-thinks-status #active-value").html("Awaiting Further Classifications");
  }
  else {
    $("#crowd-thinks-status #active-value").html("Classified");
  }
  if(crowdData.min_classifications_needed) {
    $("#crowd-thinks-status #active-more-needed").html("At least "+crowdData.min_classifications_needed+" more classifications are needed.");
  }
  else {
    $("#crowd-thinks-status #active-more-needed").hide();
  }
  html = ""; // classifications div html
  for (index in crowdData.allClassificationData) {
    classification = crowdData.allClassificationData[index];
    html += "<div class = 'classification";
    if (classification.voters == crowdData.maxClassificationVoters) {
      html += " biggest";
    }
    html += "'>";
    html += "<span class='voters'>" + classification.voters + "</span>";
    html += "<span class='voters-label'>voted for</span>";
    html += "<div class='species-list'>";
    for (species in classification.speciesData) {
      console.log
      speciesName = classification.speciesData[species];
      if (species == "blank") {
        html += "<div class='species'><span class='no-animals-present'>No<br/>Animals<br/>Present</span></div>";
      }
      else {
        html += "<div class='species'>" + speciesName + "</div>";
        html += "<div class='species-image " + species + "'></div>";
      }
    }
    html += "</div>"; // close species list div
    html += "</div>"; // close classification div
  }
  $("#crowd-classifications").html(html);

});


</script>