<div class="row">
  <div class="small-12 columns">
    <%= link_to "All subjects", subjects_path %>
    <h1><%= @subject.zooniverse_id %></h1>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-8 columns">
    <div id="subject">
      <%= image_tag @subject.image_url %>
      <% @subject.regions.each do |region| %>
        <%= content_tag :div, region.id, id: "region-overlay-#{region.id}", class: ["region"], style: "top: #{region.y}px; left: #{region.x}px; width: #{region.width}px; height: #{region.height}px" %>
      <% end %>
    </div>

    <h4>Zooniverse user-data based aggregation results</h4>
    <table style="width: 100%">
      <tbody>
        <th>Dominant Species</th>
        <td><%= @subject.zooniverse_dominant_species %></td>
      </tbody>
    </table>
  </div>

  <div id="metadata" class="small-4 columns">
    <p>
      Extraction Status: <strong><%= @subject.status %></strong><br/>
      <%= link_to "(Re)Submit this image to Mico platform", mico_submit_subject_path(@subject), method: :post, class: "button tiny" %>
    </p>

    <table style="width: 100%">
      <thead>
        <th>Region #</th>
        <th>Location</th>
        <th>Animal</th>
        <th>Confidence</th>
      </thead>

      <tbody>
        <% @subject.regions.each do |region| %>
          <tr>
            <td><%= region.id %></td>
            <td><%= region.x %>,<%= region.y %> / <%= region.width %>x<%= region.height %>px</td>
            <td><%= region.animal %></td>
            <td><%= region.confidence.round(4) %></td>
          </tr>
        <% end %>

        <% if @subject.regions.empty? %>
          <tr><td colspan="5">(no regions)</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-12 columns">
    <h4>Comments</h4>
    <table style="width: 100%">
      <tbody>
        <% @subject.comments.each do |comment| %>
          <tr>
            <td><%= comment.body %></td>
            <td><%= debug comment.mico_data %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row debug-output">
  <div class="small-12 columns">
    <h4>Debug info</h4>
    <%= debug @subject %>
  </div>
</div>
