<%= render partial: 'resubmit_box' %>

<hr>

<div>
  <div id="subject-section">
    <%= render partial: 'subject_image_and_info' %>
  </div>

  <div id="metadata-section">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#side-regions">Analysis Results</a></li>
      <li class="tab-title"><a href="#side-comments">Comments</a></li>
      <li class="tab-title"><a href="#side-zoodata">Zoo data</a></li>
      <li class="tab-title"><a href="#side-debug">Debug</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="side-regions">
        <%= render partial: 'regions_table' %>
      </div>
      <div class="content" id="side-comments">
        <%= render partial: 'comments' %>
      </div>
      <div class="content" id="side-zoodata">
        <%= render partial: 'zooniverse_data' %>
      </div>
      <div class="content" id="side-debug">
        <%= render partial: 'debug' %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(function () {
  var timeouts = [];
  $(".hover-row").on({
    mouseenter: function (e) {
        for (var i=0; i<timeouts.length; i++) {
          clearTimeout(timeouts[i]);
        }
        $("div.region").hide();
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.show();
        $region.addClass("highlighted-region");
        $(this).addClass("hover");

    },
    mouseleave: function (e) {
        $(this).removeClass("hover");
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.removeClass("highlighted-region");
        timeouts.push(window.setTimeout(function(){
          $("div.region").show();
        },500));
    }
  });

  $(".region").on({
    mouseenter: function (e) {
        for (var i=0; i<timeouts.length; i++) {
          clearTimeout(timeouts[i]);
        }
        $("div.region").hide();
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.show();
        $region.addClass("highlighted-region");
        $(".hover-row[data-region="+region_no+"]").addClass("hover");

    },
    mouseleave: function (e) {
        $(".hover-row").removeClass("hover");
        var region_no = $(this).data("region");
        var $region = $("div#region-overlay-"+region_no)
        $region.removeClass("highlighted-region");
        timeouts.push(window.setTimeout(function(){
          $("div.region").show();
        },500));
    }
  });

  var $window = $(window);
  var $stickyEl = $('#subject');
  var $table = $('#regions-data')
  var elTop = $stickyEl.offset().top;
  var tableEnd = $table.offset().top+$table.height();
  var $pushDownEl = $('#zoo_data');
  var topMargin = 160;
  var lesserTopMargin = 30;
});
</script>

