<div class="row">
  <div class="small-12 columns">
    <%= link_to "All subjects", subjects_path %>
    <h1> Subject<%= @subject.zooniverse_id %></h1>
    <%= link_to "(Re)Submit", mico_submit_subject_path(@subject), method: :post, class: "button" %>
    <%= link_to "Update",     mico_update_subject_path(@subject), method: :post, class: "button" %>
  </div>
</div>

<div class="row">
  <div id="subject" class="small-8 columns">
    <%= image_tag @subject.image_url %>
    <% @subject.regions.each do |region| %>
      <%= content_tag :div, region.id, id: region.id, class: ["region"], style: "top: #{region.y}px; left: #{region.x}px; width: #{region.width}px; height: #{region.height}px" %>
    <% end %>
  </div>

  <div id="metadata" class="small-4 columns">
    <p>Subject Extraction Status: <span class="label"><%= @subject.status %></span></p>

    <h4>Regions</h4>
    <table style="width: 100%">
      <thead>
        <th>Region #</th>
        <th>X</th>
        <th>Y</th>
        <th>Width</th>
        <th>Height</th>
      </thead>

      <tbody>
        <% @subject.regions.each do |region| %>
          <tr>
            <td><%= region.id %></td>
            <td><%= region.x %></td>
            <td><%= region.y %></td>
            <td><%= region.width %></td>
            <td><%= region.height %></td>
          </tr>
        <% end %>

        <% if @subject.regions.empty? %>
          <tr><td colspan="5">(no regions)</td></tr>
        <% end %>
      </tbody>
    </table>

    <h4>Comments</h4>
    <table style="width: 100%">
      <tbody>
        <% @subject.comments.each do |comment| %>
          <tr>
            <td><%= comment.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row debug-output">
  <div class="small-12 columns">
    <%= debug @subject %>
  </div>
</div>
