<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mico Seregeti Demo" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="small-12 columns">
          <% if flash[:error] %>
          <div class="alert-box alert"><%= flash[:error] %></div>
          <% end %>

          <%if flash[:notice] %>
          <div class="alert-box info"><%= flash[:notice] %></div>
          <% end %>

          <%if flash[:alert] %>
          <div class="alert-box warning"><%= flash[:alert] %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
