<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mico Serengeti Demo" %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">MICO Snapshot Serengeti Demo</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li><%= link_to "Overview", subjects_path %></li>
          <li><%= link_to "Worker Queue", '/que', :target => "_blank" %></li>
          <li><%= link_to "MICO Broker", 'http://demo1.mico-project.eu:8080/broker/' %></li>
          <li><%= link_to "Select Extractor", 'http://demo1.mico-project.eu:8080/mico-configuration/', :target => "_blank" %></li>
          <li><%= link_to "Validation Report", 'https://docs.google.com/document/d/1uUkP1cpKh8ZcRrVWQpUo19-ppZqejkSrEx2_5QUlLaY', :target => "_blank" %></li>
          <li><%= link_to "Testing Results", 'https://docs.google.com/document/d/1a1A5-jHIUjqR6ka3dWLQeeBfJM4AfRFdQoEwPREaJQo',:target => "_blank" %></li>
        </ul>
      </section>
    </nav>

    <div id="flash-messages" class="container">
      <div class="row">
        <div class="small-12 columns">
          <% if flash[:error] %>
          <div class="alert-box alert"><%= flash[:error] %></div>
          <% end %>

          <%if flash[:notice] %>
          <div class="alert-box info"><%= flash[:notice] %></div>
          <% end %>

          <%if flash[:alert] %>
          <div class="alert-box warning"><%= flash[:alert] %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
